<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">

<!-- left panel -->
<div class="sidenav">
   <!-- chart type selection  -->
   <form method="POST" enctype=multipart/form-data action="http://localhost:5000/">
      <div class="form-group" style="margin-left: 20px; margin-right: 20px;">
         <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" name="select">
            <option selected>Select chart type</option>
            <option value="1">Sankey Chart</option>
            <option value="2">Parallel coordinates Chart</option>
            <option value="3">Simple Line Chart</option>
         </select>
         <br>
         <label style="color: #fff" for="customFile">Upload JSON file</label>
         <input type="file" class="form-control" id="file" name="file"/>
         <button type="submit" class="btn btn-dark" value="Upload" style="margin-top: 20px;">Upload</button>
      </div>
   </form>

</div>




<!-- right panel -->
<div class="main">
   <div class="col-md-6 col-sm-12">
      
   </div>
</div>